<div class="navbar sticky-top d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <%= link_to root_path do %>
      <%= image_tag 'logo-black.png', alt: 'logo', id: 'logo', class: 'ml-3' %>
    <% end %>
  </div>
  <div class="d-flex align-items-center">
    <!-- Menu déroulant -->
    <div class="dropdown">
      <button class="button">Menu</button>
      <div class="dropdown-content">
        <%= link_to 'Le Gîte', about_path, class: 'dropdown-item' %>
        <%= link_to 'Activités', activity_path, class: 'dropdown-item' %>
        <%= link_to 'Réservation', booking_path, class: 'dropdown-item' %>
      </div>
    </div>
    <!-- Bouton Login -->
    <button class="button ml-3">Fr|Nl</button>
  </div>
</div>
