<div class="container-activity">
  <div class="title-activity">
    <h1><strong>Activités dans la région</strong></h1>
  </div>

  <!-- Bloc Sports et loisirs -->
  <div class="title-left">
    <h2>Sports et loisirs</h2>
  </div>
  <div class="cards-activity-container">
    <div class="cards-activity">
      <a href="https://www.dinant-evasion.be/fr/kayak-sur-la-lesse" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'lesse.jpg', alt: 'lesse'%>
          </div>
          <div class="card-text">
            <h3>Descente de la Lesse</h3>
            <p>Deux parcours surprenants dans une nature sauvage</p>
          </div>
        </div>
      </a>
      <a href="https://www.fhpsbl.be/societe/asbl-comite-royal-de-lamicale-des-pecheurs-de-la-lomme-et-de-la-lesse/" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'peche.jpg', alt: 'peche'%>
          </div>
          <div class="card-text">
            <h3>Pêche dans la Lesse</h3>
            <p>Découvrez la pêche à la truite. Profitez du calme et du charme de la Lesse</p>
          </div>
        </div>
      </a>
      <a href="#" id="modal-link-golf" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'golf.jpg', id: 'modal', alt: 'golf'%>
          </div>
          <div class="card-text">
            <h3>Golf</h3>
            <p>4 parcours à moins de 45 minutes</p>
          </div>
        </div>
      </a>
      <a href="https://www.visorando.com/randonnee-rochefort-belgique.html" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'randonnee.jpg', alt: 'randonnee'%>
          </div>
          <div class="card-text">
            <h3>Randonnées</h3>
            <p>Profitez pleinement de la nature en Famenne</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Bloc Culture -->
  <div class="title-left mt-5">
    <h2>Culture</h2>
  </div>
  <div class="cards-activity-container">
    <div class="cards-activity">
      <a href="https://grotte-de-han.be/" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'grottes.jpg', alt: 'grottes'%>
          </div>
          <div class="card-text">
            <h3>Les grottes de Han</h3>
            <p>Découvrez une des plus belles grottes d'Europe et un parc animalier en pleine nature</p>
          </div>
        </div>
      </a>
      <a href="https://chateau-lavaux.com/" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'chateau.jpg', alt: 'chateau'%>
          </div>
          <div class="card-text">
            <h3>Chateau de Lavaux-Ste-Anne</h3>
            <p>Découvrez le chateau et ses évènements à 5 kilomètres du gîte</p>
          </div>
        </div>
      </a>
      <a href="https://www.rochefort.be/loisirs/tourisme/plein-air/Promenades" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'rochefort.jpg', alt: 'rochefort'%>
          </div>
          <div class="card-text">
            <h3>Rochefort</h3>
            <p>Retrouvez toutes les informations sur le site de la ville de rochefort: ravel (vélo), balade(sentier), la ville, ...</p>
          </div>
        </div>
      </a>
      <a href="https://www.redu-villagedulivre.be" target="_blank" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'redu.jpg', alt: 'redu'%>
          </div>
          <div class="card-text">
            <h3>Redu</h3>
            <p>Partez à la découverte d'un des plus beaux village de Wallonie! Le village du LIVRE</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Bloc Restaurants -->
  <div class="title-left mt-5">
    <h2>Pour les gourmands...</h2>
  </div>
  <div class="cards-activity-container">
    <div class="cards-activity">
      <a href="#" id="modal-link-restaurants" class="card-link">
        <div class="card">
          <div class="card-img">
            <%= image_tag 'restaurant.jpg', alt: 'restaurant'%>
          </div>
          <div class="card-text">
            <h3>Restaurants</h3>
            <p>Trouvez quelques adresses à proximité du Gîte</p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- Div mise en évidence pour le golf -->
  <div class="cards-grid mb-5 mt-5 highlighted-div" id="golf-grid" style="display: none;">
    <button id="btn-close-golf" class="btn-close"></button>
    <div class="golf-links-container">
      <!-- Les liens seront ajoutés ici via JavaScript -->
    </div>
  </div>

  <!-- Div mise en évidence pour les restaurants -->
  <div class="cards-grid mb-5 mt-5 highlighted-div" id="restaurants-grid" style="display: none;">
    <button id="btn-close-restaurants" class="btn-close"></button>
    <div class="restaurant-links-container">
      <!-- Les liens seront ajoutés ici via JavaScript -->
    </div>
  </div>
</div>
